<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>
<body>
<div class="app">
<nav>
    <div class="title" v-html="title"></div>
</nav>
</div>

<script src="/components/vue/dist/vue.min.js"></script>
<script src="/components/axios/dist/axios.min.js"></script>
<script src="/dist/index.bundle.js"></script>

</body>
</html>